:root {
  --bg: linear-gradient(to right, #f9d976, #f39f86);;
  --card: #ffffff;
  --border: #e5e7eb;
  --text: #333;
  --muted: #777;

  --hadir: #23b26a;
  --izin: #ffb020;
  --sakit: #e23b3b;
  --telat: #1fa7ff;
  --alpha: #bdbdbd;

  --radius: 14px;
  --shadow: 0 4px 12px rgba(0, 0, 0, 0.04);
}


body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background: var(--bg);
}

.frame {
  max-width: 850px;
  margin: auto;
  padding: 15px;
}

.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 25px;
}

.title h1 {
  margin: 0;
  font-size: 26px;
  color: var(--text);
}

.subtitle {
  color: var(--muted);
  font-size: 14px;
}

.avatar {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background: #ccc;
}

.toolbar {
  margin-bottom: 18px;
}

.legend {
  display: flex;
  gap: 18px;
  flex-wrap: wrap;
}

.legend .item {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
}

.dot {
  width: 14px;
  height: 14px;
  border-radius: 50%;
}

.dot.hadir {
  background: var(--hadir);
}
.dot.izin {
  background: var(--izin);
}
.dot.sakit {
  background: var(--sakit);
}
.dot.telat,
.dot.dispen {
  background: var(--telat);
}
.dot.alpha {
  background: var(--alpha);
}

.list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.student {
  background: var(--card);
  padding: 14px 16px;
  border-radius: var(--radius);
  box-shadow: var(--shadow);
  border: 1px solid var(--border);
}

.footer {
  margin-top: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.count {
  font-size: 14px;
  color: var(--muted);
}

.buttons {
  display: flex;
  gap: 12px;
}

.btn {
  padding: 8px 14px;
  border-radius: 8px;
  cursor: pointer;
  border: none;
  font-size: 14px;
}

.btn.primary {
  background: var(--hadir);
  color: #fff;
}

.btn.ghost {
  background: #eee;
  color: #444;
}

.summary {
  background: var(--card);
  margin-top: 40px;
  padding: 20px;
  border-radius: var(--radius);
  box-shadow: var(--shadow);
}

@media (max-width: 600px) {
  .top h1 {
    font-size: 22px;
  }

  .legend {
    gap: 12px;
    font-size: 13px;
  }

  .student {
    padding: 12px;
  }

  select {
    font-size: 13px !important;
    padding: 4px 8px !important;
  }

  .footer {
    flex-direction: column;
    gap: 12px;
    text-align: center;
  }

  .buttons {
    width: 100%;
    justify-content: center;
  }

  .btn {
    width: 48%;
  }

  .summary {
    padding: 16px;
  }
}
